<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CADASTRO</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="container">
        <h2>CADASTRO</h2>
        <form method="POST">
            {{ form.csrf_token }}
            {{ form.username.label }} {{ form.username }}
            {{ form.password.label }} {{ form.password }}
            {{ form.confirm_password.label }} {{ form.confirm_password }}
            <button class="btn waves-effect waves-light" type="submit" name="action">Register
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</body>
</html>
